.author-and-shear-single1 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align content in the center */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadcrumb-single1 {
     /* Use the custom color */
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Corrected value */
    font-size: 12px;
}

.breadcrumb-single1 li {
    
    display: inline;
    
    margin-right: 5px; /* Adjust as needed */
}

.breadcrumb-single1 li:last-child {
    font-weight: bold; /* Style the last item */
}

.breadcrumb-single1 li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    
    text-transform: capitalize;
    text-decoration: none;
    color: #000000; /* Set the color of links */
}

.breadcrumb-single1 li a:hover {
    text-decoration: underline; /* Style links on hover */
}
.breadcrumb-single1 li:not(:first-child)::before {
    content: '>'; /* Set the content to be the arrow */
    margin-left: 5px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
    color: #999; /* Set the color of the arrow */
}


.singlepost1-vasutheme {
    width: 75%;
    margin: 10px auto;
    line-height: 1.6;
     /* Center the .singlepost1-vasutheme horizontally */
}

.post-content-single1{
}

.post-content-single1 .post-content-single1 img{
 border-radius: 10px;
 width: 100%;
}
.post-content-single1 .post-thumbnailss-single1 img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}


@media (max-width:780px) {
    .singlepost1-vasutheme {
        width: 95%;
        margin: 10px auto;
        line-height: 1.6;
         /* Center the .singlepost1-vasutheme horizontally */
    }

    .author-and-shear-single1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 10px;
    }

    .post-content-single1 .post-thumbnailss-single1 img {
        width: 100%;
        height: 240px;
        border-radius: 10px;
    }

    .post-title-single1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .author-and-shear-single1-author{
        order: 2;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .author-and-shear-single1-share{
        margin-top: 10px;
    }

    .post-excerpt-single1 p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; /* Corrected value */
        font-size: 12px;
    }
    
    
}