.paperx-single1-post img{
    height: 100%;
    width: 100%;
}

.paperx-post-title-single1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paperx-single1-post{
    display: flex;
    padding: 20px 80px;
    width: 100%;
    height: 100%;
}

.paperx-single1-content-area {
    width: 65%; /* Adjusted width */
}

.paperx-single1-sidebar {
    width: 35%; /* Adjusted width */
    margin-left: 20px;
    padding: 0px 50px;
    position: sticky;
    top: 100px;
    height: 100%; /* Ensure the sidebar takes the full height */
    overflow-y: auto; /* Add scrollbar if content exceeds sidebar height */
}

.paperx-post-content-single1 h1,
.paperx-post-content-single1 h2,
.paperx-post-content-single1 h3,
.paperx-post-content-single1 h4,
.paperx-post-content-single1 h5,
.paperx-post-content-single1 h6,
.paperx-post-content-single1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.paperx-breadcrumb-single1 {
    display: inline-flex; /* Use inline-flex to prevent line break */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    width: 100%;
}

.paperx-breadcrumb-single1 li{
    padding: 0px 5px;
}

.paperx-breadcrumb-single1 li:not(:last-child)::after {
    content: '>'; /* Add arrow after the breadcrumb item */
    margin-left: 5px; /* Adjust spacing between breadcrumb item and arrow */
    color: #333; /* Arrow color */
}


.paperx-breadcrumb-single1 li a {
    color: #333; /* Change breadcrumb link color */
    text-decoration: none; /* Remove underline */
}

.paperx-breadcrumb-single1 li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.paperx-breadcrumb-single1 li:last-child {
    margin-right: 10px; /* Adjust spacing between breadcrumb items */
    display: inline;
    overflow: hidden;    
    white-space: nowrap;
    text-overflow: ellipsis; /* Show ellipsis for overflowed items */
    font-weight: bold; /* Make the last item bold */
}

.paperx-author-single1{
    margin: 25px 0px;
}


.wp-block-quote{
    background-color: var(--primary-color);
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    color: var(--secondary-color) ;
    margin: 0;
    border-left: 0.25em solid black;
}


@media (max-width: 800px)  { 
    .paperx-post-thumbnailss-single1{
        width: 100%;
        height: 200px;
    }
    .paperx-single1-post{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 100%;
        height: 100%;
    }
    .paperx-single1-content-area {
        width: 100%; /* Adjusted width */
    }

.paperx-post-content-single1 h1,
.paperx-post-content-single1 h2,
.paperx-post-content-single1 h3,
.paperx-post-content-single1 h4,
.paperx-post-content-single1 h5,
.paperx-post-content-single1 h6,
.paperx-post-content-single1 p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
}
.paperx-single1-sidebar {
    width: 100%; /* Adjusted width */
    padding: 10px 10px;
    margin-left: 0px;
    
}
.paperx-post-title-single1{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.paperx-author-single1{
    margin: 10px 0px;
}

}


/* Targeting unordered lists */
.paperx-post-content-single1 ul,
.paperx-post-content-single1 ol {
  margin: 0;
  /* Remove default margin */
  padding: 20px;
  /* Remove default padding */
  line-height: 1.4;
  text-decoration: n;
}

/* Styling list items */
.paperx-post-content-single1 ul li,
.paperx-post-content-single1 ol li {
  margin-bottom: 10px;
  /* Add margin between list items */
}

/* Styling links inside list items */
.paperx-post-content-single1ul li a,
.paperx-post-content-single1 ol li a {
  text-decoration: none;
  /* Remove underline */
  color: #333;
  /* Change link color */
}

/* Styling nested lists */
.paperx-post-content-single1 ul ul {
  margin-top: 5px;
  /* Add space above nested lists */
  margin-left: 20px;
  /* Indent nested lists */
}








/* This Is Page Css File */



.post-content-area-paperx{
    padding: 10px 80px;
    display: flex;
}

.site-main-area-paperx h1,
.site-main-area-paperx h2,
.site-main-area-paperx h3,
.site-main-area-paperx h4,
.site-main-area-paperx p{
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-main-area-paperx{
    width: 75%;
}

@media (max-width:800px){
    .site-main-area-paperx{
        width: 100%;


    }
    .post-content-area-paperx{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;

    }
}