/* Define color variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Grid container */
.el-g-1-grid-container {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px;  }                       


/* Post title */
.el-g-1-post-title-vasutheme a {
    color: #000000;  
    line-height: normal;
    font-size: 20px;
    font-weight: 00;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.el-g-1-post-title-vasutheme {
    margin-bottom: 10px;
    margin-top: 10px;
}

.el-g-1-post-title-vasutheme:hover {
    text-decoration: underline;
    color: var(--primary-color);
    transition: 2;
}

/* Post item container */
.el-g-1-custom-post-item-vasutheme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Post thumbnail */
.el-g-1-custom-post-item-vasutheme .el-g-1-post-thumbnail-vasutheme img {
    border-radius: 4px;
    height: 180px;
    width: 100%;
    /* max-width: 100%; */

}


.el-g-1-post-thumbnail-vasutheme {
    position: relative;
    width: 100%;
    /* max-width: 100%; */
}

/* .el-g-1-custom-post-item-vasutheme:hover {
    transform: scale(1.03);
} */

/* Category */
.el-g-1-category-meta-vasutheme a {
    position: absolute;
    color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 40px 10px 40px 10px;
    background-color: var(--primary-color);
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    left: 10px;
    bottom: 20px;
}

.el-g-1-category-meta-vasutheme a:hover {
    transform: scale(1.03);
}

/* Post meta */
.el-g-1-post-meta-vasutheme {
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    
}

.el-g-1-post-meta-vasutheme a {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.el-g-1-name-meta-vasutheme:hover {
    text-decoration: underline;
    color: var( --primary-color);
}

.el-g-1-author-avatar-vasutheme {
    height: 20px;
    width: 30px;
    border-radius: 100% !important;
    border: solid 1px rgba(22, 69, 224, 0.3);
}

.el-g-1-name-meta-vasutheme {
    margin-left: 8px;
    margin-right: 8px;
}

/* CSS for Mobile Devices */
@media only screen and (max-width: 1000px) {
    /* Adjust grid container for mobile */
    .el-g-1-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CSS for Mobile Devices */
@media only screen and (max-width: 800px) {
    /* Adjust grid container for mobile */
    .el-g-1-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}