.author-name-last-updated .author-name a {
    font-family: 'Batangas';
    font-size: 15px;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
}

.author-name-last-updated .author-name a:hover {
    color: rgb(225, 9, 9);

}

.author-info {
    font-family: 'Batangas';
    color: rgb(80, 80, 80);
    display: flex;
    gap: 10px;
    align-items: center;
}

.author-info p {
    margin: 0;
    font-size: 13px;
}

.author-info .author-avata img {
    border: 2px dotted black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-info img:hover {
    border: 2px dotted rgb(255, 0, 0);

}